html body {
    margin: 0 0 0 0;
}

.container{
    margin: 0 0;
    width: 100vw;
    height: 100vh;
    max-width:100%;
    display: flex;
}

.left {
    width: 30%;
    height: 100%;
    background-color: green;
    display: flex;
    flex-direction: column;
}

.logo {

}

.credits{
    border: 1px white solid;
    margin-top: 97.5vh;
    color: white;
    text-align: center;
}

.info-container {
    background-color: rgb(235, 235, 235);
    width: 70%;
}

.description{
    margin-top: 10%;
}

p {
    margin-left:3rem;
    margin-right: 20rem;
    font-size: 28px;
}

form h2,
form fieldset{
    margin-left: 3rem;
}

h2 {
    padding-top: 1.5%;
}

fieldset {
    border: none;
    padding: 0;
    margin-top: 2rem;
    display: flex;
    width: 60%;
}

.white-container {
    margin-top: 5%;
    padding-bottom: 5%;
    width: 100%;
    background-color: white;
    box-shadow: 0px 1px rgb(185, 185, 185);
}

.field {
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}

input {
    width: 20rem;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    border-radius: 4px;
    border: 1px solid grey;
}